<div style="
    width: 500px;
    height: 200px;
    margin:auto;
    text-align: center;
  ">
    <h2>Hello {{name}},</h2>
    <p>
        Your ELMS Account has been activated.
        <br />
        Please proceed to Setup your Account below.
        <br />
    </p>

    <br />

    <a href="{{reset_password_link}}" target="_blank" style="
      text-decoration: none;
      text-align: center;
      background-color: #081250;
      color: white;
      padding: 13px;
      border-radius: 8px;

    ">
        Setup
    </a>
</div>