/* Create-account css */
.onboard-container {
  max-width: 420px;
  margin: 60px auto;
  padding: 25px;
  border-radius: 8px;
}

.onboard-title {
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
